# Sanity configuration
PUBLIC_SANITY_PROJECT_ID="your-project-id"
PUBLIC_SANITY_DATASET="production"
PUBLIC_SANITY_API_VERSION="2026-01-05"
SANITY_API_READ_TOKEN="your-read-token"

# URL where Sanity Studio is running or deployed
PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"

# Email configuration for Contact Form SMTP
BREVO_SMTP_USER="user-id@smtp-brevo.com"
BREVO_SMTP_PASS="smtp-password"

# Your email address to receive contact form submissions
CLUB_MAIL_ADDRESS="your-email@example.com"
CLUB_MAIL_SENDER_NAME='"brevo-allowed-sender" <your-email@example.com>'